.burger_constructor {
    width: 600px;
}
.burger_constructor__list_ingredients {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 16px;
}
.middle_ingredients_container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 16px;
    max-height: calc(900px - 160px);
    overflow: scroll;
    overflow-x: hidden;
}
@media screen and (max-height: 1280px) {
    .middle_ingredients_container {
        max-height: calc(750px - 160px);
    }
}
@media screen and (max-height: 1080px) {
    .middle_ingredients_container {
        max-height: calc(600px - 160px);
    }
}
@media screen and (max-height: 900px) {
    .middle_ingredients_container {
        max-height: calc(400px - 160px);
    }
}

@media screen and (max-height: 700px) {
    .middle_ingredients_container {
        max-height: calc(300px - 160px);
    }
}

@media screen and (max-height: 600px) {
    .middle_ingredients_container {
        max-height: calc(200px - 160px);
    }
}
