.header {
    background-color: #1c1c21;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}
.header__item {
    display: grid;
    justify-items: center;
    align-items: center;
}
.header__button {
    display: grid;
    grid-template-columns:auto auto;
    grid-column-gap: 8px;
}
.header__logo {
    margin-right: 20rem;
    margin-left: 14rem;
}
.link {
    cursor: pointer
}
.primary_text {
    color: white;
}
.secondary_text {
    color: #8585ad;
}